[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]


[dev-packages]

cosmic-ray = "*"
cosmic-ray-pytest-runner = "*"
robotframework = "*"
pytest = "*"
